*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
/lib/
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
cache
dependency-reduced-pom.xml
derby.log
lib_managed/
log/
logs/
out/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
target/
unit-tests.log
*.crc
